.nav-container{
    width: 80%;
    max-width: 1010px;
    margin: auto;
}
nav{
    height: 100px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 30px;
    width: 80%;
    max-width: 535px;
    margin: auto;
    align-items: center;
    padding: 5px 10px;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar{
        display: none;
    }
}
.grad-class{
    width: 81px;
    height: 81px;
    flex-shrink: 0;
    border-radius: 50%;
    border: none;
    background: linear-gradient(rgb(67, 67, 234), rgb(46, 46, 162));
    color: white;
    font-size: 12px;
    i{font-size: 30px; margin-bottom: 5px;}
    svg{margin-bottom: 5px;}
    &:active{
        background: rgb(32, 32, 114);
        color: rgb(135, 135, 135);
        svg{color: rgb(135, 135, 135);}
    }
}
.winter{
    background: linear-gradient(rgb(125, 201, 255), rgb(70, 113, 144));
    &:active{
        background: rgb(53, 87, 110);
    }
}
.spring{
    background: linear-gradient(rgb(123, 239, 123), rgb(78, 153, 78));
    &:active{
        background: rgb(54, 108, 54);
    }
}
.summer{
    background: linear-gradient(rgb(242, 242, 0), rgb(157, 157, 0));
    &:active{
        background: rgb(124, 124, 0);
    }
}
.fall{
    background: linear-gradient(orange, rgb(148, 96, 0));
    &:active{
        background: rgb(112, 73, 0);
    }
}
@media (max-width: 750px) {
    .title{
        text-align: center;
    }
}