.pic{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 255px;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.4);
    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}
.name, .email, .dob{
    margin-bottom: 5px;
    font-size: 16px;
}
.name{
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    margin-top: 5px;
}
.more{
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}
@media (max-width: 750px) {
    .card{
        display: block;
        margin: auto;
        margin-bottom: 30px;
        width: 330px;
    }
    .name, .email, .dob{
        margin-bottom: 5px;
        font-size: 18px;
    }
    .name{
        margin-top: 30px;
        font-size: 20px;
    }
    .pic{
        height: 100px;
        width: 100px;
    }
    main{
        position: static;
    }
}

.more-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.contact{
    display: flex;
    gap: 5px;
    line-height: 20px;
    align-items: center;
    overflow: hidden;
}
.more-contact{
    color: rgba(0, 0, 0, 0.8);
    span{
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
    }
}
.stats{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.8);
    gap: 15px;
}
.stats section{
    width: 30%;
}
.stats section h2{
    font-size: 16px;
    margin-bottom: 5px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.stats section p{
    font-size: 13px;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
}
.too-big{
    font-size: 10px;
    display: flex;
    align-items: center;
}
.on1{
    margin-top: 20px;
}
.on1 h2{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-bottom: 10px;
}
form input{
    display: block;
    margin-bottom: 10px;
}
label{
    display: block;
    color: rgba(0, 0, 0, 0.6);
}
ul p{
    margin-top: 5px;
    text-align: right;
}
li{
    color: rgba(0, 0, 0, 0.6);
    margin-left: 15px;
    margin-top: 5px;
    font-size: 15px;
}
.less{
    border: none;
    background: none;
    cursor: pointer;
}
#comment{
    display: inline-block;
}
.submit{
    background: none;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}